doctype html
html
  head
    title UMinho ISN
    meta(charset="UTF-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/layout_admin.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src='/javascripts/jquery-3.4.1.min.js')
    nav.w3-charcoal
      a.w3-bar-item.w3-large(href="/user")
        b PERFIL
      a.w3-bar-item.w3-large(href="/ficheiros")
        b FICHEIROS
      a(href="/")
        .w3-padding-large
          img(src="/images/uminhoisn.png", style={height:'60px'})
      a.w3-bar-item.w3-large(href="/eventos") 
        b AGENDA
      a.w3-bar-item.w3-large(href="/publicacoes")
        b PUBLICAÇÕES
      button.w3-btn.w3-large.w3-right.w3-charcoal.w3-section(style="position: absolute; right: 70px; top: 4px;" onclick="window.location.href = '/logout'")
        i(class="fa fa-power-off" style="color:#c0b283")
      //-button.w3-bar-item.w3-large.w3-right.w3-charcoal(onclick="window.location.href = '/logout'")
        i(class="fa fa-power-off" style="color:#c0b283")
    style.
      body {
        background-color: #fefefe;
        background-image: url('images/fundo_inicial.png');
        background-size: cover;
        height: 100%;
        margin: 0;
      }
  body
    div(style="position: absolute;bottom:8px;left:30px;")
      h1
        b(style="font-size:3em;text-shadow: 0px 0px 18px #c0b283;color:#373737") BEM-VINDO!

