doctype html
html
  head
    title UMinho ISN
    meta(charset="UTF-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style_back.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')
    style.
      body {
        background-color: #fefefe;
        background-image: url('images/fundo_inicial.png');
        background-size: cover;
        font-family: 'Raleway', sans-serif;;
        height: 100%;
        margin: 0;
      }
  body
    .w3-display-middle
        .w3-container.w3-charcoal(style="box-shadow: 10px 10px 18px #373737;")
            .w3-margin.w3-padding-large
                img(src="/images/uminhoisn.png", style={height:'90px'}).w3-center
                .w3-center
                  form(method="get" action=`/login`)
                    button.w3-btn.w3-pale-gold.w3-section(style="width: 100%" type="submit") 
                      b Login
                  form(method="get" action=`/register`)
                    button.w3-btn.w3-pale-gold.w3-section(style="width: 100%" type="submit") 
                      b Registar
                  form(method="get" action=`/registerFile`)
                    button.w3-btn.w3-pale-gold.w3-section(style="width: 100%" type="submit") 
                      b Registar com Ficheiro
                  form(method="get" action=`/publico`)
                    button.w3-btn.w3-pale-gold.w3-section(style="width: 100%" type="submit") 
                      b Eventos
                